# Technical writers
doc                                                           @Jimbo4350 @newhoggy @olgahryniuk
README.*                                                      @Jimbo4350 @newhoggy @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @LaurenceIO

bench/tx-generator                                            @deepfire @mgmeier @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier @fmaste
*.mk                                                          @deepfire @mgmeier @fmaste

nix                                                           @deepfire @mgmeier @fmaste
*.nix                                                         @deepfire @mgmeier @fmaste
flake.lock                                                    @deepfire @mgmeier @fmaste

.buildkite                                                    @Jimbo4350 @newhoggy
.github                                                       @Jimbo4350 @newhoggy
ci                                                            @Jimbo4350 @newhoggy
configuration                                                 @Jimbo4350 @newhoggy
bors.toml                                                     @Jimbo4350 @newhoggy
docker-compose.yml                                            @Jimbo4350 @newhoggy
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @Jimbo4350 @newhoggy @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @Jimbo4350 @newhoggy
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @Jimbo4350 @newhoggy
cardano-node/src/Cardano/Node/Tracing                         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @Jimbo4350 @newhoggy

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Jared         Robert        Carlos
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @JaredCorduan @LudvikGalois @CarlosLopezDeLara

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence
